<ion-header>
  <ion-toolbar>
    <ion-title>Task List</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/add-task">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngFor="let task of tasks">
    <ion-label>
      {{task.title}}
    </ion-label>
    <ion-note slot="end">
      {{ task.exp_date | date:'dd/MM/yyyy' }}
    </ion-note>
    <ion-buttons slot="end">
      <ion-button (click)="deleteTask(task.id)">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>
</ion-content>
